{% load static %}
<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> My Health Manager</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    </head>

    <body style="background-color:pink;">

        <header>
            <div class="navbar">
                <div class="nav-left">
                    <a class="nav--logo" href="{% url 'home_deo' %}">
                        <span>My</span>
                        <b>Health</b>
                        <span>Manager</span>
                    </a>
                </div>
                <div class="nav-right">
                    <a class="btn is-w" href="{% url 'account_deo' %}">My Account</a>
                    <a class="btn is-w" href="{% url 'menu_deo' %}">Menu</a>
                    <a class="btn is-w" href="/q">Logout</a>
                </div>
            </div>            
        </header>

        <section>
            <div class="contact-form1">
                <form action="{% url 'menu_deo' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="name" placeholder="Image Name" name="image_name" required>
                    <input type="file" name="image_file" id="image" required>
                    <input type="submit" value="Upload Image" name="submit" class="submit" required>
                </form>

                <h1> Uploaded Image </h1>
                <ul>
                    <img src="data:image/jpg;base64,{{base64_image}}" width="600px" alt = "Image">
                </ul>

                <form action="{% url 'menu_deo' %}" method="POST" name = "prescribe">
                    {% csrf_token %}
                    <input type="name" placeholder="Patient SSN" name="ssn" required>
                    <input type="name" placeholder="Image Name" name="image_name" required>
                    <input type="name" placeholder="Description of Tests and Treatments" name="description" required>
                    <input type="submit" value="Add Information" name="submit" class="submit" required>
                </form>

                <div class="message">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>   
            </div>
        </section>
    </body>
</html>